@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header, .block-one {
    padding: 0 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 24px;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    color: #f9faf8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
}

.block-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 75px 200px;
    background-color: #1f2937;
}

.title {
    margin: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    max-width: 350px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
}

.image {
    display: flex;
    flex: 1;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    min-height: 225px;
    min-width: auto;
    max-width: 500px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 8px 30px;
    width: fit-content;
}

.block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    margin: 50px 0;
}

.tiles {
    display: flex;
    margin-bottom: 100px;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.card .subtext {
    text-align: center;
    color: black;
    margin: 10px 0;
}

.image-frame {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.block-three {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 800px;
    margin: 150px 0;
}

.quote-credit {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-top: -125px;
    margin-bottom: 125px;
}

.block-four {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.prompt {
    display: flex;
    margin: 100px 200px;
    flex: 1;
    background-color: #3882f6;
    border-radius: 15px;
    border-style: none;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-between;
    gap: 30px;
}

.prompt-text {
    display: flex;
    flex-direction: column;
}

.prompt .sign-up {
    border: 2px solid #ffffff;

}

.minor-title {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.prompt .subtext {
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.copyright {
    color: white;
    padding: 30px;
}